
<div mat-dialog-title>
  <h1> Complain Viwer</h1>
   
</div>
<button class="webcam-btn" (click)="startWebcam()">Start Webcam</button>

<div class="container">

<div class="table-container">
 
  <table mat-table [dataSource]="dataSource" matSort>
        
  
        
    <ng-container matColumnDef="epf">
      <th mat-header-cell *matHeaderCellDef class="custom-header">EPF</th>
      <td mat-cell *matCellDef="let row" [class.custom-row]="row.drStatus === '1'">{{row.epf}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="custom-header">DATE</th>
      <td mat-cell *matCellDef="let row" [class.custom-row]="row.drStatus === '1'">{{row.date}}</td>
    </ng-container>
    <ng-container matColumnDef="timee">
      <th mat-header-cell *matHeaderCellDef class="custom-header">TIME</th>
      <td mat-cell *matCellDef="let row" [class.custom-row]="row.drStatus === '1'">{{row.timee}}</td>
    </ng-container>
    <ng-container matColumnDef="drStatus">
      <th mat-header-cell *matHeaderCellDef class="custom-header">STATUS</th>
      <td mat-cell *matCellDef="let row" [class.custom-row]="row.drStatus === '1'">{{row.drStatus}}</td>
    </ng-container>







    <tr mat-header-row *matHeaderRowDef="displayedColumnss"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnss;"></tr>

     Row shown when there is no matching data. 
    
  </table>
</div>
<div class="image-container">
 <!-- <img src="assets/803033.jpg" class="drunk-person-image" *ngIf="isDrunkPersonDetected" />-->
  <img [src]="src" class="drunk-person-image" *ngIf="isDrunkPersonDetected" />

</div>
</div>
<router-outlet></router-outlet>
<!--
<form [formGroup]="empform" >
  <div mat-dialog-content class="content">
    <div class="row" >
    
      <mat-form-field appearance="outline"   >
          <mat-label>CONSULTANT</mat-label>
      
          <mat-select  [(ngModel)]="nn" (ngModelChange)="onchange1(nn)" formControlName="consId"> 
                    <mat-select formControlName="consId"   [(ngModel)]="nn"  >
  
          <mat-option selected value="1"  >
              None
            </mat-option> 
          <mat-option [value]="cons.id"  *ngFor="let cons of consulantList"  >
          
              {{cons.name}}
            </mat-option>
         </mat-select>
        </mat-form-field>
      
      
      
        <mat-form-field  appearance="outline"   >
         <mat-label>COUNTRY</mat-label> 
          <mat-select name="model" [(ngModel)]="nnm" class="form-control" >  
                  <mat-select formControlName="conId"  [(ngModel)]="nnm"  >
  
            <mat-option selected value="1">
              None
            </mat-option>
            <mat-option [value]="cou.id"  *ngFor="let cou of countryList"  >
              {{cou.name}}
            </mat-option>
         </mat-select>
        </mat-form-field>
      
        <mat-form-field  appearance="outline" >
          <mat-label>JOB TYPE</mat-label> 
           <mat-select name="model" [(ngModel)]="nnm" class="form-control" > 
                   <mat-select formControlName="jobtypeId" [(ngModel)]="nnmm" (ngModelChange)="onchange1(nnmm)"  >
  
             <mat-option selected value="1">
               None
             </mat-option>
             <mat-option [value]="job.id"  *ngFor="let job of jobtypeList"  >
               {{job.jobType}}
             </mat-option>
           </mat-select>
         </mat-form-field>
      
         <button mat-raised-button  type="button" (click)="clear()" >Cancel</button>
         <button mat-raised-button color="primary"  (click)="save(nn,nnm,nnmm)" type="submit">Save</button>
        
      
  </div>
     
      
  </div>
</form>


<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      

      
      <ng-container matColumnDef="id"> 
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
       Progress Column 
      <ng-container matColumnDef="consultName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CONSULTANT ID  </th>
        <td mat-cell *matCellDef="let row"> {{row.consultName}} </td>
      </ng-container>
  
  <ng-container matColumnDef="countryName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> COUNTRY ID</th>
    <td mat-cell *matCellDef="let row"> {{row.countryName}} </td>
  </ng-container>
  <ng-container matColumnDef="jobtype">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> JOB TYPE ID</th>
    <td mat-cell *matCellDef="let row"> {{row.jobtype}} </td>
  </ng-container>
 
  

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
    <td mat-cell *matCellDef="let row"> 
       <button mat-icon-button color="warn" (click)='deleteEmployee(row.id)'>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
       Row shown when there is no matching data. 
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
  -->


